<section style="background-color: #eee;">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6 col-xl-4">
                <div class="card" style="border-radius: 15px;">
                    <div class="bg-image hover-overlay ripple ripple-surface ripple-surface-light"
                        data-mdb-ripple-color="light">
                        <img src={{productData.image}}
                            style="border-top-left-radius: 15px; border-top-right-radius: 15px;" class="img-fluid"
                            alt="" />
                        <a href="#!">
                            <div class="mask"></div>
                        </a>
                    </div>
                    <div class="card-body pb-0">
                        <div class="d-flex justify-content-center">
                            <div>
                                <p class="text-dark">{{productData.pname}}</p>
                                <!-- <p class="small text-muted">{{ productData.category | categoryName }}</p> -->

                            </div>
                        </div>
                    </div>
                    <div class="card-body pb-0">
                        <div class="d-flex justify-content-around">
                        <p class="small text-muted">{{productData.category}}</p>

                            <p class="text-dark">₹ {{productData.price}}</p>
                        </div>
                    </div>
                    <hr class="my-0" />
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center pb-2 mb-1">
                            <button class="button-edit btn btn-outline-dark flex-shrink-0 px-2 w-25" type="button" [routerLink]="['/products/edit', productData.id]">
                                Edit
                            </button>
                            <button class="btn btn-outline-dark flex-shrink-0 px-2 ms-3 w-25" (click)="delete()" type="button">
                                Delete
                            </button>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>